@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap");

main {
  width: 100%;
}

svg {
  margin: auto 14.5%;
}

.cls-1 {
  isolation: isolate;
}

.cls-2 {
}

.cls-3 {
  opacity: 0.63;
  mix-blend-mode: multiply;
}

.cls-4,
.cls-8 {
  fill: #da5713;
}

.cls-5 {
  fill: none;
}

.cls-5,
.cls-8 {
  stroke: #da5713;
}

.cls-5,
.cls-7,
.cls-8 {
  stroke-miterlimit: 10;
}

.cls-6,
.cls-7 {
  font-size: 36px;
  fill: #fff;
}

.cls-6 {
  font-family: "OpenSans-Bold", "Open Sans";
  font-weight: 700;
}

.cls-7 {
  stroke: #1d1d1b;
  stroke-width: 0.25px;
  font-family: "OpenSans-ExtraBoldItalic", "Open Sans";
  font-weight: 800;
  font-style: italic;
}

.cls-2-1 {
  opacity: 0.5;
}

.cls-2-2,
.cls-2-5 {
  font-size: 36px;
}

.cls-2-2,
.cls-2-5,
.cls-2-6 {
  fill: #fff;
}

.cls-2-2 {
  stroke: #1d1d1b;
  stroke-width: 0.25px;
  font-family: "OpenSans-ExtraBoldItalic", "Open Sans";
  font-weight: 800;
  font-style: italic;
}

.cls-2-10,
.cls-2-2,
.cls-2-9 {
  stroke-miterlimit: 10;
}

.cls-2-3 {
  fill: #d9d9d9;
}

.cls-2-10,
.cls-2-4,
.cls-2-4b,
.cls-2-4a {
  fill: #da5713;
}

.cls-2-5,
.cls-2-6 {
  font-family: "OpenSans-Bold", "Open Sans";
  font-weight: 700;
}

.cls-2-6 {
  font-size: 18px;
}

.cls-2-7 {
  font-size: 11px;
}

.cls-2-7,
.cls-2-8 {
  font-family: "OpenSans-Regular", "Open Sans";
}

.cls-2-8 {
  font-size: 12px;
}

.cls-2-9 {
  fill: none;
  stroke-width: 3px;
}

.cls-2-10,
.cls-2-9 {
  stroke: #da5713;
}

.hide {
  display: none;
}

.cls-3-1 {
  opacity: 0.5;
}

.cls-3-2,
.cls-3-5,
.cls-3-7 {
  fill: #da5713;
}

.cls-3-2,
.cls-3-3 {
  opacity: 0.31;
}

.cls-3-3 {
  fill: #f7931e;
}

.cls-3-4 {
  font-size: 36px;
  stroke: #1d1d1b;
  stroke-width: 0.25px;
  font-family: "OpenSans-ExtraBoldItalic", "Open Sans";
  font-weight: 800;
  font-style: italic;
}

.cls-14,
.cls-3-4 {
  fill: #fff;
}

.cls-3-4,
.cls-3-6 {
  stroke-miterlimit: 10;
}

.cls-3-6 {
  fill: none;
  stroke: #da5713;
  stroke-width: 5px;
}

.cls-3-7 {
  opacity: 0.63;
  font-size: 56px;
  font-family: "Open Sans", "Open Sans";
}

.cls-3-8 {
  fill: #d6853c;
}

.cls-3-9 {
  fill: #92542f;
}

.cls-3-10 {
  fill: #434043;
}

.cls-11 {
  fill: #aa6433;
}

.cls-12 {
  fill: #bf6e37;
}

.cls-13 {
  fill: #71af77;
}

.cls-15 {
  fill: #e7b173;
}

.cls-16 {
  fill: #424242;
}

.cls-17 {
  fill: #eee;
}

.cls-18 {
  fill: #5b895e;
}

.cls-19 {
  font-size: 10.7px;
}

.cls-19,
.cls-3-26,
.cls-33,
.cls-3-40 {
  font-family: "OpenSans-Bold", "Open Sans";
  font-weight: 700;
}

.cls-3-20 {
  fill: #111;
}

.cls-3-21 {
  fill: #414143;
}

.cls-3-22 {
  fill: #1a1a1a;
}

.cls-3-23 {
  fill: #ce6a3e;
}

.cls-3-24 {
  fill: gray;
}

.cls-3-25 {
  fill: #a85436;
}

.cls-3-26 {
  font-size: 11.28px;
}

.cls-3-27 {
  fill: #d6907f;
}

.cls-3-28 {
  fill: #8c4b41;
}

.cls-3-29 {
  fill: #a45a49;
}

.cls-30 {
  fill: #f2e9e7;
}

.cls-31 {
  fill: #83a6b7;
}

.cls-32 {
  fill: #6f858e;
}

.cls-33 {
  font-size: 11.9px;
}

.cls-34 {
  fill: #999;
}

.cls-35 {
  fill: #ccc;
}

.cls-36 {
  fill: #e6e6e6;
}

.cls-37 {
  fill: #edbb2a;
}

.cls-38 {
  fill: #4d4d4d;
}

.cls-39 {
  fill: #c99b28;
}

.cls-3-40 {
  font-size: 10.87px;
}

.cls-4-1 {
  isolation: isolate;
}

.cls-4-2 {
  opacity: 0.5;
}

.cls-4-3,
.cls-4-8 {
  font-size: 36px;
}

.cls-4-12,
.cls-4-3,
.cls-4-6,
.cls-4-8 {
  fill: #fff;
}

.cls-4-3 {
  stroke: #1d1d1b;
  stroke-width: 0.25px;
  font-family: "OpenSans-ExtraBoldItalic", "Open Sans";
  font-weight: 800;
  font-style: italic;
}

.cls-4-11,
.cls-4-3 {
  stroke-miterlimit: 10;
}

.cls-4-4,
.cls-4-5 {
  fill: #da5713;
}

.cls-4-5,
.cls-4-9 {
  opacity: 0.31;
}

.cls-4-6 {
  font-size: 18px;
}

.cls-4-12,
.cls-4-6,
.cls-4-7,
.cls-4-8 {
  font-family: "OpenSans-Bold", "Open Sans";
  font-weight: 700;
  fill: white;
}

.cls-4-7 {
  font-size: 21px;
}

.cls-4-9 {
  fill: #f7931e;
}

.cls-4-10 {
  opacity: 0.63;
  mix-blend-mode: multiply;
}

.cls-4-11 {
  fill: none;
  stroke: #da5713;
}

.orangeBox {
  cursor: pointer;
}
/* #white-horse {
  transform: rotate(45deg);
} */

#playButton:hover {
  cursor: pointer;
}

.cls-4-11 {
  opacity: 0.63;
  mix-blend-mode: multiply;
}

.cls-4-12 {
  fill: none;
  stroke: #da5713;
}
.cls-4-13 {
  font-size: 21.73px;
  font-family: "OpenSans-Bold", "Open Sans";
  font-weight: 700;
  fill: white;
}

.nextButton {
  cursor: pointer;
}

.FIFTHcls-1 {
  fill: none;
}

.FIFTHcls-2 {
  opacity: 0.5;
}

.FIFTHcls-3,
.FIFTHcls-8 {
  font-size: 36px;
}

.FIFTHcls-16,
.FIFTHcls-22,
.FIFTHcls-3,
.FIFTHcls-6,
.FIFTHcls-7,
.FIFTHcls-8 {
  fill: #fff;
}

.FIFTHcls-3 {
  stroke: #1d1d1b;
  stroke-width: 0.25px;
  font-family: "OpenSans-ExtraBoldItalic", "Open Sans";
  font-weight: 800;
  font-style: italic;
}

.FIFTHcls-23,
.FIFTHcls-3 {
  stroke-miterlimit: 10;
}

.FIFTHcls-23,
.FIFTHcls-4 {
  fill: #da5713;
}
.FIFTHcls-4a {
  fill: #da5713;
  fill: black;
}

.FIFTHcls-5 {
  fill: #f7931e;
}

.FIFTHcls-6 {
  font-size: 18px;
}

.FIFTHcls-21,
.FIFTHcls-22,
.FIFTHcls-6,
.FIFTHcls-7,
.FIFTHcls-8 {
  font-family: "OpenSans-Bold", "Open Sans";
  font-weight: 700;
}

.FIFTHcls-7 {
  font-size: 21px;
}

.FIFTHcls-9 {
  clip-path: url(#clip-path);
}

.FIFTHcls-10 {
  fill: #d6907f;
}

.FIFTHcls-11 {
  fill: #8c4b41;
}

.FIFTHcls-12 {
  fill: #a45a49;
}

.FIFTHcls-13 {
  fill: #f2e9e7;
}

.FIFTHcls-14 {
  fill: #83a6b7;
}

.FIFTHcls-15 {
  fill: #434043;
}

.FIFTHcls-17 {
  fill: #e7b173;
}

.FIFTHcls-18 {
  fill: #424242;
}

.FIFTHcls-19 {
  fill: #eee;
}

.FIFTHcls-20 {
  fill: #6f858e;
}

.FIFTHcls-21 {
  font-size: 23.77px;
}

.FIFTHcls-22 {
  font-size: 24px;
}

.FIFTHcls-23 {
  stroke: #da5713;
}

.FIFTH2cls-1 {
  fill: none;
}

.FIFTH2cls-2 {
  opacity: 0.5;
}

.FIFTH2cls-3,
.FIFTH2cls-8 {
  font-size: 36px;
}

.FIFTH2cls-16,
.FIFTH2cls-22,
.FIFTH2cls-3,
.FIFTH2cls-6,
.FIFTH2cls-7,
.FIFTH2cls-8 {
  fill: #fff;
}

.FIFTH2cls-3 {
  stroke: #1d1d1b;
  stroke-width: 0.25px;
  font-family: "OpenSans-ExtraBoldItalic", "Open Sans";
  font-weight: 800;
  font-style: italic;
}

.FIFTH2cls-23,
.FIFTH2cls-3 {
  stroke-miterlimit: 10;
}

.FIFTH2cls-23,
.FIFTH2cls-4 {
  fill: #da5713;
}

.FIFTH2cls-5 {
  fill: #f7931e;
}

.FIFTH2cls-6 {
  font-size: 18px;
}

.FIFTH2cls-21,
.FIFTH2cls-22,
.FIFTH2cls-31,
.FIFTH2cls-6,
.FIFTH2cls-7,
.FIFTH2cls-8 {
  font-family: "OpenSans-Bold", "Open Sans";
  font-weight: 700;
}

.FIFTH2cls-7 {
  font-size: 21px;
}

.FIFTH2cls-9 {
  clip-path: url(#clip-path);
}

.FIFTH2cls-10 {
  fill: #d6907f;
}

.FIFTH2cls-11 {
  fill: #8c4b41;
}

.FIFTH2cls-12 {
  fill: #a45a49;
}

.FIFTH2cls-13 {
  fill: #f2e9e7;
}

.FIFTH2cls-14 {
  fill: #83a6b7;
}

.FIFTH2cls-15 {
  fill: #434043;
}

.FIFTH2cls-17 {
  fill: #e7b173;
}

.FIFTH2cls-18 {
  fill: #424242;
}

.FIFTH2cls-19 {
  fill: #eee;
}

.FIFTH2cls-20 {
  fill: #6f858e;
}

.FIFTH2cls-21 {
  font-size: 23.77px;
}

.FIFTH2cls-22 {
  font-size: 24px;
}

.FIFTH2cls-23 {
  stroke: #da5713;
}

.FIFTH2cls-24 {
  clip-path: url(#clip-path-3);
}

.FIFTH2cls-25 {
  fill: #999;
}

.FIFTH2cls-26 {
  fill: #ccc;
}

.FIFTH2cls-27 {
  fill: #e6e6e6;
}

.FIFTH2cls-28 {
  fill: #edbb2a;
}

.FIFTH2cls-29 {
  fill: #4d4d4d;
}

.FIFTH2cls-30 {
  fill: #c99b28;
}

.FIFTH2cls-31 {
  font-size: 22.17px;
}

.FIFTH2cls-32 {
  clip-path: url(#clip-path-5);
}

.FIFTH2cls-33 {
  fill: #d6853c;
}

.FIFTH2cls-34 {
  fill: #92542f;
}

.FIFTH2cls-35 {
  fill: #aa6433;
}

.FIFTH2cls-36 {
  fill: #bf6e37;
}

.FIFTH2cls-37 {
  fill: #71af77;
}

.FIFTH2cls-38 {
  fill: #5b895e;
}

.FIFTH2cls-39 {
  clip-path: url(#clip-path-7);
}

.FIFTH2cls-40 {
  fill: #111;
}

.FIFTH2cls-41 {
  fill: #414143;
}

.FIFTH2cls-42 {
  fill: #1a1a1a;
}

.FIFTH2cls-43 {
  fill: #ce6a3e;
}

.FIFTH2cls-44 {
  fill: gray;
}

.FIFTH2cls-45 {
  fill: #a85436;
}

#playAgainButton {
  cursor: pointer;
}
